
.row> div{
    padding: 5px;
    border: 1px black solid;
    background-color: rgb(248, 194, 203);
}

.row div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    flex-grow: 1;
} 
.color div{
    padding: 20px;
    height: 140px;
    border: 1px white solid;
    text-align: center;
    background: rgb(235, 148, 139); 
}






